@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(Styles/font/font.css);

@import 'reset';
@import 'variables';

*{
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box; 
  	box-sizing: border-box;
}
/*/===========/*/
/*/ GENERAL  /*/
/*/=========/*/
html{
	width:100%;
	height:100%;
}
h1,h2,h3{
	font-family: 'bebas_neueregular';
}
p,a,li{
	font-family: 'PT Sans', sans-serif;
}
.sousBordure{
	height:1px;
	background-color:#858a8f;
	display:block;
	margin:0 auto;
	margin-top:12px;
}
.iconPlus{
	width:25px;
	position:absolute;
	right:3%;
	bottom:13px;
	@include transition(500ms);
}
.iconPlus:hover{
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	@include transition(500ms);
}
.backgroundContenu{
	width:100%;
	height:997px;
	background-size:cover;
	background-position:center;
	position:relative;
	z-index:1;
	overflow:hidden;
}
/*/===========/*/
/*/ ACCUEIL  /*/
/*/=========/*/	
header{
	height:997px;
	width:100%;
	background-image:url('Styles/Images/imgAccueil.jpg');
	background-size:cover;
	background-position:center;
	float:left;
	
	.blocNavigation{
		width:100%;
		height:100px;
		padding:10px 5%;
		background-image:url('Styles/Images/pattern_menu.png');
		background-opacity:0.7;
		background-repeat:repeat-x;
		background-size:100% 100%;
		float:right;

		.logoHeader{
			width:20%;
			max-width:200px;
			height:65%;
			margin-top:10px;
		}
		.navHeader{
			list-style:none;
			height:100%;
			width:80%;
			float:right;
			padding:22px 0;
			text-align:right;
			
			a {
			color: inherit;
			text-decoration: none;
			font-weight: inherit;
			font-size: inherit;
			}

			.subMenu{
				position:absolute;
				top:65px;
				text-align:left;
				color:black;
				width:230px;
				background-color:rgba(255,255,255,0.9);
				li{
					padding:20px 0 20px 10%;
				}
			}

			.menuPrincipal{
				display:inline-block;
				position:relative;
				color:white;
				font-size:1.5em;
				margin-right:4%;
				font-weight:1;
				font-size:$littleFont;
				font-family: 'bebas_neueregular';
				@include transition(300ms);
			}
			.menuPrincipal:last-child{
				margin-right:0%;
			}
			.menuPrincipal:hover{
				color:$orange;
				@include transition(300ms);

				.texteOrange{
					color:white;
					@include transition(300ms);
				}
			}
		}
	}
	.blocTitre{
		margin-top:350px;
		h1{
			text-align:center;
			color:white;
			font-size:$hugeFont;
			margin-top:20px;
			text-shadow: 0.3px 0.3px rgba(0,0,0,0.8);
		}
	}
}
.blocObjectif{
	width:100%;
	height:700px;
	background-image:url('Styles/Images/bg_objectif.jpg');
	background-size:cover;
	overflow:hidden;

	.blocContenuObjectif{
		background-color:$orange;
		opacity:0.8;
		height:100%;
		width:50%;
		float:right;
		padding:20px 4%;
		color:white;

		#paragrapheObjectif1{
			margin-bottom:70px;
			line-height:23pt;
			font-size:$littleFont;
			padding:6% 0 !important;
				h2{
					margin:40px 0;
					font-size:$mediumFont;
				}
		}
		#paragrapheObjectif2{
			p{
				margin:10px 0;
				font-weight:bold;
				font-size:$littleFont;

			}
			p:last-child{
				margin-bottom:0px;
			}
		}
	}
}
.sectionNomines{
	width:100%;
	height:100%;
	
	.bordure{
		width:1px;
		display:block;
		background-color:white;
		position:absolute;
	}
	.moinPetiteBordureGauche{
		height:150px;
		left:70px;
		float:left;
	}
	.petiteBordureGauche{
		height:130px;
		margin-top:10px;
		left:60px;
		float:left;
	}
	.moinPetiteBordureDroite{
		margin-top: -142px;
		height:150px;
		right:70px;
		float:left;
	}
	.petiteBordureDroite{
		height:130px;
		margin-top: -133px;
		right:60px;
		float:left;
	}

	.filmsNomines{
		padding:6% 0 !important;
	}
	.films{
		width:33.33%;
		height:300px;
		float:left;
		color:white;
		text-align:center;
		padding:10% 0;
		background-size:cover;
		font-size:$mediumFont;
		overflow:hidden;
		position:relative;
		@include transition(500ms);
		
		.blocTitreFilms{
			width:100%;
			text-align:center;
			height:70px;
			top:0px;
			text-transform: uppercase;
			font-size:1.5em;
			position:relative;
			z-index: 2;
			@include transition(500ms);
		}
		.petiteSousBordure{
			position:relative;
			background-color:white;
			width:45%;
			bottom:-120px;
			@include transition(500ms);
		}
		.grandeSousBordure{
			position:relative;
			background-color:white;
			width:50%;
			bottom:-120px;
			@include transition(500ms);
		}
		.blocFonce{
			height:100%;
			width:100%;
			opacity:0;
			background-color:rgba(0,0,0,0.5);
			display:block;
			position:absolute;
			top:0;
			left:0;
			z-index:1;
			@include transition(500ms);
		}
	}
	.filmHover:hover{
		.blocTitreFilms{
			top:-40px;
			color:$orange;
			@include transition(500ms);
		}
		.petiteSousBordure{
			bottom:0px;
			@include transition(500ms);
			background-color:$orange;
		}
		.grandeSousBordure{
			bottom:0px;
			background-color:$orange;
			@include transition(500ms);
		}
		.blocFonce{
			opacity:1;
			@include transition(500ms);
		}
	}
	#bloc1{background-color:$orange;}
	#bloc2{background-image:url(Styles/Images/nommes3indiens.jpg);}
	#bloc3{background-image:url(Styles/Images/nommesTom.jpg);}
	#bloc4{background-image:url(Styles/Images/nommesMirraculum.jpg);}
	#bloc5{background-image:url(Styles/Images/nommesNicole.jpg);}
	#bloc6{background-image:url(Styles/Images/nommesMommy.jpg);}
}
.sectionNomines:after{
	content:'';
	clear:both;
	display:block;
}
.blocPartenaire{
	width:100%;
	height:100%;
	background-color:black;
	color:white;
	padding-top:40px;

	h3{
		width:100%;
		text-align: center;
		font-size:$mediumFont;
		color:#858a8f;
	}
	.petiteSousBordure{
		width:18%;
	}
	.grandeSousBordure{
		width:23%;
	}

	.blocLogo{
		width:100%;
		height:100%;
		margin:50px auto 100px auto;
		text-align:center;
		
		#quebec{
			max-width:100px;
		}
		.logo{
			width:14%;
			max-width:100%;
			margin:0 2%;
		}
	}
}
.blocNouvelles{
	position:relative;
	width:100%;
	height:642px;
	background-image:url(Styles/Images/nouvelleImg.jpg);
	background-size:cover;
	
	.blocTitreNouvelles{
		width:25%;
		height:150px;
		background-color:rgba(0,0,0,0.6);
		text-align:center;
		position:relative;

		h2{
			color:white;
			font-size:$bigFont;
			padding-top:50px;
		}	
	}
	.blocNouvellePCCQ{
		position:absolute;
		background-color:rgba(255,255,255,0.7);
		width:60%;
		height:200px;
		right:0;
		bottom:0;
		padding:30px 4% 0 4%;

		h3{
			font-size:$smallFont;
			margin-bottom:10px;
		}	
	}
}
.blocNouvellesFacebook{
	width:100%;
	height:300px;
	background-color:white;

	.nouvellesFacebook{
		width:50%;
		height:100%;
		float:left;
		position:relative;
		padding:50px 4%;

		p{
			font-size:$littleFont;
			line-height:25px;
		}
	}
}
.imgAvantFooter{
	width:100%;
	display:block;
}
footer{
	.blocMenuFooter{
		background-color:black;
		width:100%;
		height:300px;
		padding:30px 40px 0 40px;

		.sectionMenu{
			width:75%;
			height:100%;
			float:left;

			.listeMenuFooter{
				width:18%;
				margin:0 1%;
				height:100%;
				float:left;
				
				.titreMenuFooter{
					text-transform: uppercase;
					color:$orange;
					font-size:$smallFont;
					font-family: 'bebas_neueregular';
				}
				li{
					color:white;
					margin:10px 0;
					@include transition(300ms);
				}
				li:hover{
					color:$orange;
					@include transition(300ms);
				}
			}
		}
		.sectionInfoLettre{
			width:25%;
			height:100%;
			float:left;
			padding-left:3%;

			h3{	
				margin:10px 0;
				text-transform: uppercase;
				color:$orange;
				font-size:$smallFont;
				font-family: 'bebas_neueregular';
			}
			input{
				padding:7px;
				width:80%;
				height:35px;
				float:left;
				border:0px;
			}
			img{
				width:20%;
				height:35px;
				float:left;
				@include transition(300ms);
			}
			img:hover{
				opacity:0.7;
				@include transition(300ms);
			}
		}
	}
	.finFooter{
		background-color:white;
		width:100%;
		height:75px;
		padding:33px 4%;

		.copyright{
			float:left;
			font-size:$veryLittleFont;
		}
		.blocReseauSociaux{
			float:right;
			position:relative;
			width:10%;

			img{
				position:relative;
				bottom:7px;
				margin-right:15%;
				float:right;
				@include transition(300ms);
			}
			img:first-child{
				margin-right:0%;
			}
			img:hover{
				opacity:0.7;
				@include transition(300ms);
			}
		}
	}
}
/*/===========/*/
/*/ CONTENU  /*/
/*/=========/*/
.headerContenu{
	background-image:none;
	height:90px;
	position:absolute;
	top:0px;
	z-index:5;

	.blocNavigation{
		background-image:none;
		background-color:rgba(0,0,0,0.5);
		
		.logoHeader{
			margin-top:13px;
		}
		.navHeader{
			padding:33px 0;
		}
	}
}
#backgroundPageContenu{
	background-image:url(Styles/Images/imgAccueil.jpg);
}
.blocContenu{
	width:50%;
	height:550px;
	padding:20px 2%;
	background-color:rgba(255,255,255,0.8);
	position:absolute;
	bottom:-550px;
	left:5%;
	z-index:2;
	overflow-y:auto;
	@include transition(800ms);

	h2{
		font-size:$smallFont;
	}
	h3{
		color:$orange;
		font-size:$littleFont;
		margin:25px 0 10px 0;
	}
	p{
		line-height:20px;
		font-size:$standardFont;
	}
}
/*/================/*/
/*/ CONTENU FILM  /*/
/*/==============/*/
#backgroundPageFilm1{background-image:url(Styles/Images/imgAccueil.jpg);}
.blocFilm{
	min-height:800px;
	width:93%;
	position:relative;
	top:150px;
	left:7%;
	.blocTitre{
		width:30%;
		height:60px;
		margin-left:9%;
		background-color:white;
		padding:10px 2%;
		position:relative;
		@include transition(300ms);
		h2{
			font-size:$bigFont;
			text-align:center;
		}
	}
	.blocContenuFilm{
		width:30%;
		height:460px;
		padding:30px 2%;
		background-color:white;
		float:left;
		position:relative;
		font-size:$standardFont;
		overflow-y:auto;
		@include transition(300ms);
		.blocInfoFilm{
			width:100%;
			height:auto;
		}
		.blocDescriptionFilm{
			width:100;
			height:auto;
			margin-top:35px;
		}
	}
	.blocVideo{
		background-color:black;
		width:0%;
		height:400px;
		float:left;
		overflow:hidden;
		padding:0;
		@include transition(300ms);
		iframe{
			width:100%;
			height:100%;
			opacity:0;
			@include transition(1000ms);
		}
	}
	.blocVote{
		width:0%;
		height:170px;
		padding-top:5px;
		background-color:$orange;
		float:left;
		overflow:hidden;
		text-align:center;
		@include transition(300ms);
		.plus{
			font-size:7em;
			width:30%;
			margin:30px 0 10px 0;
			max-width:50px;
			opacity:0.3;
			font-family: 'PT Sans', sans-serif;
			@include transition(500ms);
		}
		p{
			font-size:$fuckingBigFont;
			font-family: 'bebas_neueregular';
			text-align:center;
			color:rgba(255,255,255,0.3);
			@include transition(500ms);
		}
	}
	.blocVote:hover{
		p{
			color:rgba(255,255,255,1);
			@include transition(500ms);
		}
		.plus{
			-ms-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
			opacity:1;
			@include transition(500ms);
		}
	}
}